.ipynb_checkpoints/prueba-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/lab1-checkpoint.ipynb
.ipynb_checkpoints/lab1_german-checkpoint.ipynb
.ipynb_checkpoints/lab1_nati-checkpoint.ipynb
.ipynb_checkpoints/lab1_mati-checkpoint.ipynb
